<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>أذكار المسلم</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header green">
        <h1>أذكار المسلم</h1>
    </div>

    <div class="buttons">
        <a href="/adhkar/sabah" class="adhkar-btn morning">
           
            أذكار الصباح
        </a>
        
        <a href="/adhkar/masaa" class="adhkar-btn evening">أذكار المساء</a>
        <a href="/adhkar/masjed" class="adhkar-btn mosque">أذكار المسجد</a>
        <a href="/adhkar/istikadh" class="adhkar-btn wakeup">أذكار الإستيقاظ</a>
        <a href="/adhkar/noum" class="adhkar-btn sleep">أذكار النوم</a>
        <a href="/adhkar/salah" class="adhkar-btn prayer">أذكار الصلاة</a>
    </div>
</body>
</html>
