<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>أذكار الصلاة</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header blue">
        <h1>أذكار الصلاة</h1>
    </div>

    <div class="adhkar-container">
        <div class="dhikr-card">
            <p class="dhikr-text">
                أدعية استفتاح الصلاة
اللَّهُمَّ بَاعِدْ بَيْنِيْ وَبَيْنَ خَطَايَايَ كَمَا بَاعَدْتَ بَيْنَ الْمَشْرِقِ وَالْمَغْرِبِ، اللهم نَقِّنِيْ مِنْ خَطَايَايَ كَمَا يُنَقَّى الثَّوْبُ الْأبْيَضُ مِنَ الدَّنَسِ، اللهم اغْسِلْنِيْ مِنْ خَطَايَايَ، بِالثَّلْجِ وَالْمَاءِ والْبَرَدِ.
سُبْحَانَكَ سُبْحَانَكَ اللهم وَبِحَمْدِكَ، وَتَبَارَكَ اسْمُكَ، وَتَعَالَى جَدُّكَ، وَلَا إِلَهَ غَيْرُكَ.</p>
            <div class="dhikr-actions">
                <span class="repeat">التكرار <span class="count">1</span></span>
                <span class="share">مشاركة</span>
            </div>
        </div>
        <div class="dhikr-card">
            <p class="dhikr-text">
                
رَبِّ رَبِّ اغْفِرْ لِيْ، رَبِّ اغْفِرْ لِيْ.
اللَّهُمَّ اغْفِرْ لِيْ، وَارْحَمْنِيْ، وَاهْدِنِيْ، وَاجْبُرْنِيْ، وَعَافِنِيْ، وَارْزُقْنِيْ، وَارْفَعْنِيْ.
كان النبي صلى الله عليه وسلم يطيل هذا الركن بقدر السجود.
            </p>
            <div class="dhikr-actions">
                <span class="repeat">التكرار <span class="count">1</span></span>
                <span class="share">مشاركة</span>
            </div>
        </div>

        <div class="dhikr-card">
            <p class="dhikr-text">
              
                دعاء القنوت
اللَّهُمَّ اهْدِني فيمَنْ هدَيْت، وعَافِنِي فيمَنْ عافيتَ، وتَوَلَّني فيمن تَولَّيت، وبارِك لي فيمَا أعطيت، وقِني شرَّ ما قَضَيْت، فإنَّك تقضي ولا يُقْضَى عَليك، إنَّه لا يَذلُّ من واليت، تباركت ربنا وتعاليت.
اللَّهُمَّ إني أعُوذُ بِرضَاك من سَخَطِك وأعُوذُ بمُعافاتك مِنْ عُقوبَتِك، وأعُوذُ بِكَ مِنْكَ لا أُحْصِي ثناءً عليكَ، أنْتَ كما أثنيت على نفسك.
اللَّهُمَّ إيَّاك نعبُدُ، ولك نُصلِّي ونسجُدُ، وإليك نسعَى ونَحْفِد، نرجُو رحمتك، ونخشى عذابَكَ، إنَّ عذابَكَ بالكافرين مُلْحِقٌ، اللَّهُمَّ إنَّا نستعينُكَ، ونستغفرك، ونُثْنِي عليكَ الخيرَ، ولا نَكْفُرُك، ونُؤمِنُ بِكَ ونَخْضَعُ لَك، ونَخْلَعُ من يكفُرُك.
اللَّهُمَّ تَقَبَّلْ مِنَّا إِنَّكَ أَنتَ السَّمِيعُ الْعَلِيمُ وَتُبْ عَلَيْنَآ إِنَّكَ أَنتَ التَّوَّابُ الرَّحِيمُ. وَصَلَّى اللهُ عَلَى سَيِّدِنَا مُحَمَّدٍ وَعَلى آلِهِ وَصَحْبِهِ وَسَلمَ.
دعاء القنوت يكون في الركعة الأخيرة من صلاة الوتر بعد الركوع ، وإذا جعله قبل الركوع فلا بأس ، إلا أنه بعد الركوع أفضل ، ويرفع يديه إلى صدره ولا يرفعها كثيراً . القنوت عند النوازل سنة في جميع الصلوات الخمس وهو في صلاة المغرب والفجر آكد.



            </p>
                <div class="dhikr-actions">
                <span class="repeat">التكرار <span class="count">3</span></span>
                <span class="share">مشاركة</span>
            </div>
        </div>
    </div>
</body>
</html>
