<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>أذكار المسجد</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header blue">
        <h1>أذكار المسجد</h1>
    </div>

    <div class="adhkar-container">
        <div class="dhikr-card">
            <p class="dhikr-text">
                بِاسْـمِكَ اللّهُـمَّ أَمـوتُ وَأَحْـيا.            </p>
            <div class="dhikr-actions">
                <span class="repeat">التكرار <span class="count">1</span></span>
                <span class="share">مشاركة</span>
            </div>
        </div>
        <div class="dhikr-card">
            <p class="dhikr-text">
                اللّهُـمَّ إِنَّـكَ خَلَـقْتَ نَفْسـي وَأَنْـتَ تَوَفّـاهـا لَكَ ممَـاتـها وَمَحْـياها ، إِنْ أَحْيَيْـتَها فاحْفَظْـها ، وَإِنْ أَمَتَّـها فَاغْفِـرْ لَـها . اللّهُـمَّ إِنَّـي أَسْـأَلُـكَ العـافِـيَة. 
            </p>
            <div class="dhikr-actions">
                <span class="repeat">التكرار <span class="count">1</span></span>
                <span class="share">مشاركة</span>
            </div>
        </div>

        <div class="dhikr-card">
            <p class="dhikr-text">
              
                بِاسْمِكَ رَبِّـي وَضَعْـتُ جَنْـبي ، وَبِكَ أَرْفَعُـه، فَإِن أَمْسَـكْتَ نَفْسـي فارْحَـمْها ، وَإِنْ أَرْسَلْتَـها فاحْفَظْـها بِمـا تَحْفَـظُ بِه عِبـادَكَ الصّـالِحـين. 
            </p>
                <div class="dhikr-actions">
                <span class="repeat">التكرار <span class="count">3</span></span>
                <span class="share">مشاركة</span>
            </div>
        </div>
    </div>
</body>
</html>
